@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

$border-radius: 18px;
$login-padding: 1.5rem 2rem;
$box-shadow: 4px 2px 8px
  rgba(
    $color: #000000,
    $alpha: 0.5,
  );

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
