$border-radius: 18px;
$login-padding: 1.5rem 2rem;
$box-shadow: 4px 2px 8px
  rgba(
    $color: #000000,
    $alpha: 0.5,
  );

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
