@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

$border-radius: 18px;
$login-padding: 1.5rem 2rem;
$box-shadow: 4px 2px 8px
  rgba(
    $color: #000000,
    $alpha: 0.5,
  );

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

// input type number arrows remove

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

@mixin feature-cards {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  h2 {
    font-size: 1.3rem;
    margin-top: 0.8rem;
    font-weight: bolder;
    text-transform: uppercase;
  }

  input {
    width: 70px;
    border-radius: 1rem;
    background-color: #fffefe;
    padding: 0.4rem;
    text-align: center;
    border: none;

    &::placeholder {
      font-size: 0.9rem;
      color: rgb(181, 178, 178);
      text-transform: uppercase;
      text-align: center;
    }
  }

  .inputs-label {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 1rem;

    label {
      text-transform: uppercase;
      margin: 0.7rem 0 0.5rem 0;
      font-weight: bold;
      font-size: 0.8rem;
      text-align: center;
    }
  }

  button {
    font-size: 1.4rem;
    margin: 0.8rem 0 0.2rem 0;
    border: none;
  }
}

@mixin feature-cards-md {
  @include responsive-md {
    padding: 0.4rem;
    h2 {
      font-size: 1.3rem;
    }

    input {
      width: 77px;
      font-size: 1.3rem;
      padding: 0.4rem 0.2rem;

      &::placeholder {
        font-size: 1rem;
      }
    }

    .inputs-label {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;

      label {
        text-transform: uppercase;
        margin: 1.1rem 0 0 0;
        font-size: 0.9rem;
      }
    }

    button {
      font-size: 1.7rem;
      margin: 0.6rem 0 0.2rem 0;
      padding: 0;
    }
  }
}
