@import 'reset', 'normalize', 'config', 'responsive';

body {
  background-color: #f1f0f3;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #fff;
  width: 315px;

  &-head {
    width: 300px;
    margin: 0 auto;

    .welcome-title {
      text-align: center;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .current-balance {
      display: flex;
      justify-content: space-between;
    }

    .logout {
      display: flex;
      justify-content: space-between;
      button {
        color: white;
        font-size: 0.9rem;
        background-color: black;
        text-transform: uppercase;
        padding: 0.6rem 0.8rem;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
        margin-top: 1rem;
        box-shadow: $box-shadow;

        .logout button:active {
          transform: scale(90%);
        }
      }
    }
  }

  &-app-body {
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    gap: 1rem;
    width: 300px;
    margin: 0 auto;
  }

  .transfer {
    background-color: #745efa;
    @include feature-cards;
  }

  .request {
    background-color: #1fd953;
    @include feature-cards;
  }

  .close {
    background-color: #ea0505;
    @include feature-cards;
  }

  .movements {
    overflow: scroll;
    overflow-x: hidden;
    height: 200px;
    border-radius: 1rem;

    &-row {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
    }

    .movement-index {
      border-radius: 1rem;
      padding: 0.3rem;
      color: white;
      font-size: 0.8rem;
      font-weight: bold;
    }

    // .movement-value {
    // }
  }
}

.app-error-modal {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 290px;
  height: 200px;
  padding: 2.5rem 1.2rem;
  border-radius: $border-radius;
  background-color: #fffffa;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.3rem;
  line-height: 23px;
  color: darkgray;
}

#app-error-btn {
  position: fixed;
  right: 16px;
  top: 10px;
  border: none;
}

.overlay-app {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(1.9px);
}

.success-alert {
  position: fixed;
  width: 300px;
  height: 100px;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  transition: 0.4s;
}

.hidden {
  display: none;
}

.vanish-alert {
  right: -500px;
}

.deposit {
  background-color: #04c800;
}

.withdrawal {
  background-color: #ff0808;
}

.white-row {
  background-color: #efeeee;
}

.gray-row {
  background-color: #d4cdcd;
}

@include responsive-md {
  body {
    height: 100vh;
  }
  .container {
    width: 790px;
    height: auto;
    display: grid;
    border-radius: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);

    &-head {
      width: 790px;
      padding: 1rem;
      grid-column: 1 / span 2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 3rem 1.5rem 2rem;
      row-gap: 0.9rem;

      .welcome-title {
        grid-column: 1 / span 2;
        grid-row: 1;
        font-size: 2rem;
      }

      .current-balance {
        grid-column: 1 / span 2;
        grid-row: 2;
        font-size: 1.5rem;
        p {
          font-weight: bold;
          font-size: 1.8rem;
        }
      }

      .logout {
        grid-column: 1 / span 2;
        grid-row: 3;
        button {
          margin: 0;
        }
      }
    }

    &-app-body {
      grid-row: 2 / span 3;
      grid-column: 1 / span 2;
      display: grid;
      grid-template-rows: repeat(3, 170px);
      grid-template-columns: 300px 365px;
      column-gap: 2rem;
      width: 730px;
      height: 550px;
      row-gap: 1rem;

      .movements {
        grid-column: 2;
        grid-row: 1 / span 3;
        height: auto;
      }

      .transfer {
        grid-row: 1 / 2;
        @include feature-cards-md;
      }

      .request {
        grid-row: 2 / 3;
        @include feature-cards-md;
      }

      .close {
        grid-row: 3 / 4;
        @include feature-cards-md;
      }
    }
  }
}

#modal-transfer-button {
  text-transform: capitalize;
  margin-top: 1rem;
  font-size: 1.4rem;
}
